{% extends "base.html" %}
{% block title %}Архив вычислений{% endblock %}
{% load staticfiles %}
{% block content %}

{% include "include/header.html" %}

<main class="main">
	<section class="archive">
		{% if archive_latest_post_list %}
	     <div class="container archive__container">
	       <ul class="archive__list">
	       {% for post in archive_latest_post_list %}
	         <li class="archive__item">			    
						<div class="archive__item-header">
							<p class="archive__date">
								{{ post.created_date }}
							</p>
							<h3 class="archive__title">
								<a href="{% url 'detail' post.id %}"  class="archive__title-link">{{ post.title}}</a>
							</h3>
						</div>
						<div class="archive__item-main">
							<div class="csi_index" >
								<img id="csi_index_meter_needle" src="{% static 'img/svg-meter-gauge-needle.svg'%}" alt="">
								<img src="{% static 'img/schet.png'%}"/>
								<input id="slider1"  value="{{post.csi}}"/>
								<p class="archive__item-index">CSI: {{post.csi}}</p>
							</div>
							<div class="loy_index">
								<div>
									<img id="loy_index_meter_needle" src="{% static 'img/svg-meter-gauge-needle.svg'%}" alt="">
								</div>
								<img src="{% static 'img/schet.png'%}"/>
								<input id="slider2"  value="{{post.loyalty}}"/>
								<p class="archive__item-index">Лояльность: {{post.loyalty}}</p>
								</div>
						</div>
	         </li>
	        {% endfor %}
	       </ul>
	    </div>
		<script src="{% static 'js/script_index.js'%}"></script>
		{% else %}
		     <div class="container archive__container">
		       <ul class="archive__list">
		          <div class="archive__warning">
								<a href="{% url 'dashboard' %}" class="archive__back-button">
									<svg data-name="Layer 2" id="Layer_2" viewBox="0 0 100 100"><title/><path d="M50,11A39,39,0,1,0,89,50,39.05,39.05,0,0,0,50,11ZM62,53H45.24l3.88,3.88a3,3,0,0,1,0,4.24,3,3,0,0,1-4.24,0l-9-9a3.44,3.44,0,0,1-.38-.46l-.12-.22c-.05-.1-.11-.19-.15-.29s-.06-.2-.09-.3a2.58,2.58,0,0,1-.08-.26,2.93,2.93,0,0,1,0-1.18,2.58,2.58,0,0,1,.08-.26c0-.1,0-.2.09-.3s.1-.19.15-.29l.12-.22a3.44,3.44,0,0,1,.38-.46l9-9a3,3,0,0,1,4.24,4.24L45.24,47H62a3,3,0,0,1,0,6Z"/></svg>
								</a>
								<span class="archive__warning-text">
									Вы ещё не пользовались нашим сервисом
								</span>
							</div>
		       </ul>	
		    </div>
		{% endif %}
	</section>
</main>

{% include "include/footer.html" %}

{% endblock %}
