{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Новый рассчёт{% endblock %}

{% block content %}

{% include "include/header.html" %}

<main class="main">
    <section class="upload">
      <div class="container upload__container">
        <form method="POST" enctype="multipart/form-data" class="post-form">
          {% if error_message %}
          <strong>{{ error_message }}</strong>
          {% endif %}
          {% csrf_token %}
          {{ form }}
          /*  Можешь сделать также как и в login.html,т.е. form-это inputы с лейблами и можешь удалить это на своё усмотрение
          csrf token не удалять  и конструкцию с error-message его тоже надо красиво вставить куданить чтобы было заметно появление ошибки  */
          <button type="submit" class="btn-default">Рассчитать!</button>
        </form>
      </div>
    </section>
</main>

{% include 'include/footer.html' %}

{% endblock %}
