{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Новый рассчёт{% endblock %}

{% block content %}

{% include "include/header.html" %}

<main class="main">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="org">
      <h2 class="org__title">Введите название организации</h2>
      {% if error_message %}
      <strong class="org__error">{{ error_message }}</strong>
      {% endif %}
      <input type="text" name="title" required id="org__form-name" class="org__form-name">
      <input type="file" name="file" id="real-file" hidden="hidden">
      <button type="button" id="custom-button" class="org__file-button typical__button_small">Выберите файл</button>
      <span id="custom-text" class="org__file-text">Файл не выбран</span>
    </div>
    <div class="calculate">
      <button type="submit" class="typical__button">Рассчитать</button>
    </div>
  </form>
</main>

<script defer src="{% static 'js/fileupload.js' %}"></script>

{% include 'include/footer.html' %}

{% endblock %}
