{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Новый рассчет{% endblock %}

{% block content %}

{% include "include/header.html" %}

<main class="main">
    <section class="upload">
      <div class="container upload__container">
        <form method="POST" enctype="multipart/form-data" class="post-form">
          {% if error_message %}
          <strong>{{ error_message }}</strong>
          {% endif %}
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-default">Рассчитать!</button>
        </form>
      </div>
    </section>
</main>

{% include 'include/footer.html' %}

{% endblock %}
