{% extends "base.html" %}

/* table */

.table-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 25;
  cursor: pointer;
}

.table {
  margin: 20px auto;
  background: url('../img/exc_temp.jpg');
  background-size: contain;
  width: 708px;
  height: 471px;
}

.table-close{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.table-close:hover,.table-close:focus{
  fill: var(--red-color);
}

.table-close:active{
  transform: translateY(2px)
}

/* manual */

.manual {
  background-color: var(--yellow-bg-color);
}

.manual__container {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.manual__title {
  margin: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.manual__list {
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  display: flex;
  list-style: none;
  width: 100%;
}

.manual__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.manual__item-img {
  width: 70px;
  height: 70px;
}

.manual__item-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.manual__item-arrow {
  display: block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.manual__item-arrow:hover,.manual__item-arrow:focus {
  fill: var(--red-color);
}


/* file */

.file {
  background-image: url('../img/paralax-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.file__container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.file__button:not(:last-child) {
  margin-right: 15px;
}

/* media */

@media (max-width: 1120px) {
  .manual__list {
    flex-direction: column;
    align-items: center;
  }

  .manual__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 780px) {
  .table {
    width: 472px;
    height: 313px;
  }
}

@media (max-width: 600px) {
  .table {
    width: 354px;
    height: 235px;
  }

  .manual__title {
    font-size: 35px;
  }
}

@media (max-width: 460px) {

  .file {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .file__container {
    flex-direction: column;
  }

  .file__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

}
