{% extends "base.html" %}

/* name */

.name {
  background-color: var(--yellow-bg-color);
}

.name__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-bg-color);
  padding-top: 60px;
}

.name__title {
  margin: 0px;
  font-weight: 700;
  font-size: 28px;
  color: var(--black-color);
}

.name__autor {
  margin: 0px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
}

.name__file {
  margin: 0px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
}

/* indicators */

.indicators {
  background: var(--yellow-bg-color);
}

.indicators__container {
  text-align: center;
  padding-bottom: 40px;
  background: var(--gray-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicators__meter {
  display: flex;
  justify-content: center;
}

.indicators__scale-img{
  height: 100px;
  max-width: 688px;
  width: 100%;
}


.indicators__csi {
  padding-top: 30px;
  text-align: center;
  margin-right: 10px;
}

.indicators__loy {
  padding-top: 30px;
  margin-left: 10px;
  text-align: center;
}

.indicators__title {
  margin: 0px;
  font-size: 23px;
  font-weight: 700;
  color: var(--black-color);
}

.indicators__text {
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.indicators__number {
  margin: 0px;
  font-weight: 700;
  font-size: 30px;
  color: var(--black-color);
  margin-top: 10px;
}

.indicators__scale {
  margin-top: 30px;
}

.csi, .loy{
  display: inline-block;
  position: relative;
}

.csi img, .loy img{
  width: 400px;
}

#csi_meter_needle, #loy_meter_needle{
	left: 185px;
  top: 138px;
  position: absolute;
  width: 30px;
  display: inline-block;
  transform-origin:50% 90%;
  transform:rotate(-150deg);
  z-index: 100;
}

#slider1 {
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility:hidden;
}
#slider2 {
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility:hidden;
}
.csi_index, .loy_index{
    display: inline-block;
    position:relative;
}

.csi_index img, .loy_index img{
    width:150px;
}

.scale {
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* nps-barrier */

.nps-barrier{
  background-color: var(--yellow-bg-color);
}

.nps-barrier__container {
  display: flex;
  justify-content: center;
  background-color: var(--gray-bg-color);
  padding-bottom: 40px;
}

.nps-barrier__title {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 700;
  color: var(--black-color);
}

.nps-barrier__score {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  color: var(--black-color);
}

.nps{
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  margin-right: 20px;
}

.nps img{
  height: 200px;
}


.barrier{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.barrier img{
  height: 200px;
}

details[open] div{
  animation: detail 1s;
}
@keyframes detail {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.barrier summary{
  color: var(--red-color);
  width: fit-content;
  font-size: 25px;
}

/* matrix */

.matrix {
  background-color: var(--yellow-bg-color);
}

.matrix__container {
  background-color: var(--gray-bg-color);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matrix__title {
  margin: 0px;
  margin-bottom: 23px;
}

.box{
    border-left: 5px solid #808080;
    padding-left: 20px;
    border-bottom: 5px solid #808080;
    padding-bottom: 20px;
    position:relative;
}

.left__top{
  text-align: center;
	background: #376092;
	height: 229px;
	width: 127px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.left__top h5{
  position: relative;
  top: 20px;
}

.left__bot{
  text-align: center;
	background: #10253f;
	width: 127px;
	height: 118px;
	border-right: 2px solid #fff;
}

.left__bot h5{
  position: relative;
  top: 20px;
}

.right__top{
  text-align: center;
	width: 224px;
	height: 229px;
	background: #95b3d7;
	border-bottom: 2px solid #fff;
}

.box-name {
  margin: 0px;
}

.right__top-big {
  margin-top: 135px;
}

.right__top h5{
  position: relative;
  top: 20px;
}

.right__bot{
  text-align: center;
	background: #558ed5;
	width: 224px;
	height: 118px;
}

.right__bot h5{
  position: relative;
  top: 20px;
}

.top__small{
  text-align: center;
	background: #b9cde5;
	width: 145px;
	height: 133px;
	float: right;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.box__main {
  display: flex;
  font-size: 22px;
}

.box__left {
  display: flex;
  flex-direction: column;
}

.box__right {
  display: flex;
  flex-direction: column;
}

.loyalty{
	position: absolute;
	font-size: 30px;
	color: #000;
	left: 100px;
	bottom: -50px;
}

.satisfaction{
	position: absolute;
	font-size: 30px;
	color: #000;
	left: -160px;
	top: 175px;
	transform: rotate(-90deg);
}

.first__arrow {
   	width: 20px;
    height: 20px;
    border-top: 10px solid #7e7e7e;
    border-right: 10px solid #7e7e7e;
    margin-right: 60px;
    transform: rotate(-45deg);
    position: absolute;
    top: 0px;
    left: -18px;
}

.second__arrow{
	width: 20px;
    height: 20px;
    border-top: 10px solid #7e7e7e;
    border-right: 10px solid #7e7e7e;
    margin-right: 60px;
    transform: rotate(45deg);
    position: absolute;
    right: -60px;
    bottom: -18px;
}

#gr_one{
  position: relative;
  top: 25px;
}/*критики*/

#gr_two{
  position: relative;
  top: 50px;
}/*нелояльные клиенты*/

#gr_three{
  position: relative;
  top: 25px;
}/*лояльные клиенты*/

#gr_four{
  position: relative;
  margin-left: 15px;
  top: 40px;
}/* рекомендатели*/

#gr_five{
  position: relative;
  top: 13px;
}/*основные клиенты*/

/* regress */

.regress{
  background-color: var(--yellow-bg-color);
}

.regress__container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--gray-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regress__title {
  margin: 0px;
  font-weight: 700;
  font-size: 28px;
  color: var(--black-color);

}

.regress__counter {
  margin: 0px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
}

.regress__button {
  margin-top: 20px;
}

.regress p{
  font-size: 1.5em;
}

#csi_up{
  width: 80px;
}

#loy_up{
}

#coefa{
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility: hidden;
}

#coefb{
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.matrix_det summary{
  color: #B22222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
}

.matrix_det{
  margin-left: 150px;
}

/* description */

.description {
  background-color: var(--yellow-bg-color);
}

.description__container {
  box-sizing: border-box;
  padding-left: 70px;
  padding-bottom: 50px;
  background-color: var(--gray-bg-color);
}
details summary{
  font-weight: 400;
  font-size: 20px;
  color: var(--red-color);
} 

details {
  width: 350px;
}

.matrix-det {
  width: 500px;
  margin-top: 70px;
}

/* media */

@media (max-width: 1070px) {
  details {
    width: 700px;
  }
}

@media (max-width: 870px) {
  .indicators__meter {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .indicators__csi{
    margin: 0px;
  }

  .indicators__loy {
    margin: 0px;
  }

  .nps {
    margin-right: 0px;
  }

  .nps-barrier__container {
    flex-direction: column;
  }

}

@media (max-width: 770px) {
  details {
    width: 450px;
  }
}

@media (max-width: 670px) {
  .indicators__scale-img {
    height: 70px;
  }
}

@media (max-width: 530px) {
  details {
    width: 300px;
  }
}

@media (max-width: 470px) {

  .regress__container {
    padding-top: 0px;
  }

  .matrix {
    display: none;
  }
  
  .indicators__scale-img {
    height: 50px;
  }
}

@media (max-width: 420px) {
  .csi img, .loy img{
    width: 200px;
  }

  .indicators__csi {
    width: 200px;
    height: 390px;
  }

  .indicators__loy {
    width: 200px;
    height: 390px;
  }

  .indicators__scale {
    width: 200px;
  }

  #csi_meter_needle {
    top: 150px;
    left: 95px;
    width: 15px;
  }

  #loy_meter_needle {
    top: 150px;
    left: 95px;
    width: 15px;
  }

}

@media (max-width: 400px) {
  details {
    width: 250px;
  }
}

@media (max-width: 380px) {
  .indicators__scale-img {
    height: 35px;
  }
}