{% extends "base.html" %}
/* detail */

.detail {
  background: var(--yellow-bg-color);
  height: 100vh;
}

.detail__container {
  background: var(--gray-bg-color);
  height: 100%;
}


/* старый css от детайла */
.calculation{
  flex: 86%;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 30px;
}

.meters{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.csi, .loy{
    margin: 30px 100px;
    display: inline-block;
    position: relative;
}

.csi img, .loy img{
    width:400px;
}

#csi_meter_needle, #loy_meter_needle{
	left: 185px;
    top: 138px;
    position: absolute;
    width: 30px;
    display: inline-block;
    transform-origin:50% 90%;
    transform:rotate(-148deg);
    z-index: 100;
}

#slider1 {
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility:hidden;
}
#slider2 {
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility:hidden;
}
.csi_index, .loy_index{
    margin: 10px;
    display: inline-block;
    position:relative;
}

.csi_index img, .loy_index img{
    width:150px;
}

.scale {
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.scale img{
  height: 100px;
  width: auto;
}

.nps_barrier{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0 100px;
}

.nps{
  display:inline-block;
  position:relative;
  margin: 0 50px;
  width: 440px;
}


.nps img{
  height: 200px;
}

#nps{
  float: right;
  font-size: 4em;
  margin-top: 50px;
  margin-right: 50px;
  width:145.9px;
}

.nps details{
  margin-top: 40px;
}

.nps summary{
  color: #B22222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
}

.barrier{
  margin: 0 50px;
  display: inline-block;
  position: relative;
  width: 440px;
}


#barrier{
  float: right;
  font-size: 4em;
  margin-top: 50px;
  margin-right: 60px;
  width:145.9px;
}


.barrier img{
  height: 200px;
}

.barrier details{
  margin-top: 40px;
}
details[open] div{
  animation: detail 1s;
}
@keyframes detail {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.barrier summary{
  color: #B22222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
}

.other{
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 0 50px;
  height: 500px;
}

.matrix {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position:relative;
    margin: 0 auto;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 100px;
    width: 600px;
}

.box{
    border-left: 5px solid #808080;
    padding-left: 20px;
    border-bottom: 5px solid #808080;
    padding-bottom: 20px;
    position:relative;
    margin-left: 80px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left__top{
	background: #376092;
	height: 229px;
	width: 127px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.left__top h5{
  position: relative;
  top: 20px;
}

.left__bot{
	background: #10253f;
	width: 127px;
	height: 118px;
	border-right: 2px solid #fff;
}

.left__bot h5{
  position: relative;
  top: 20px;
}

.right__top{
	width: 224px;
	height: 229px;
	background: #95b3d7;
	border-bottom: 2px solid #fff;
}

.right__top h5{
  position: relative;
  top: 20px;
}

.right__bot{
	background: #558ed5;
	width: 224px;
	height: 118px;
}

.right__bot h5{
  position: relative;
  top: 20px;
}

.top__small{
	background: #b9cde5;
	width: 145px;
	height: 133px;
	float: right;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.box__left,
.box__right{
	float: left;
}

.loyalty{
	position: absolute;
	font-size: 30px;
	color: #000;
	left: 100px;
	bottom: -50px;
}

.satisfaction{
	position: absolute;
	font-size: 30px;
	color: #000;
	left: -160px;
	top: 175px;
	transform: rotate(-90deg);
}

.first__arrow {
   	width: 20px;
    height: 20px;
    border-top: 10px solid #7e7e7e;
    border-right: 10px solid #7e7e7e;
    margin-right: 60px;
    transform: rotate(-45deg);
    position: absolute;
    top: 0px;
    left: -13px;
}

.second__arrow{
	width: 20px;
    height: 20px;
    border-top: 10px solid #7e7e7e;
    border-right: 10px solid #7e7e7e;
    margin-right: 60px;
    transform: rotate(45deg);
    position: absolute;
    right: -60px;
    bottom: -13px;
}

#gr_one{
  position: relative;
  top: 25px;
}/*критики*/

#gr_two{
  position: relative;
  top: 50px;
}/*нелояльные клиенты*/

#gr_three{
  position: relative;
  top: 25px;
}/*лояльные клиенты*/

#gr_four{
  position: relative;
  margin-left: 15px;
  top: 40px;
}/* рекомендатели*/

#gr_five{
  position: relative;
  top: 25px;
}/*основные клиенты*/

.regress{
  display: inline-block;
  position: relative;
  max-width: 550px;
  margin-left: 25px;
}

.regress h2{
    margin-bottom: 100px;
}

.regress p{
  font-size: 1.5em;
}

#csi_up{
  width: 80px;
}

#loy_up{
}

#calc{
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #B22222;
  padding: .7em 1.5em;
  outline: none;
}

#coefa{
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility: hidden;
}

#coefb{
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.matrix_det summary{
  color: #B22222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
}

.matrix_det{
  margin-left: 150px;
}