/* org */

.org {
  background-color: var(--yellow-bg-color);
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.org__title {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.org__form-name {
  padding: 10px;
  box-sizing: border-box;
  background: var(--white-color);
  max-width: 300px;
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
}

.org__error {
  margin-top: 5px;
  color: var(--red-color);
}

.org__file-button {
  margin-top: 20px;
}

.org__file-text {
  margin-top: 10px;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--black-color);
}




/* calculate */

.calculate {
  background-image: url('../img/paralax-bg2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

@media (max-width: 460px) {
  .calculate {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 350px) {
  .org__title {
    font-size: 25px;
  }
}

