{% extends "base.html" %}
/* table */

.table-container {
  display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 25;
	cursor: pointer;
}

.table {
  margin: 20px auto;
  background: url('../img/exc_temp.jpg');
  background-size: contain;
  width: 708px;
  height: 471px;
}

.table-close{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.table-close:hover{
  fill: var(--red-color);
}

.table-close:active{
  transform: translateY(2px)
}

/* popup */

.popup-container{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 25;
	cursor: pointer;
}

.popup{
  width: 400px;
  height: 500px;
  padding-bottom: 30px;
  background: #fff;
  margin: 20px auto;
  cursor: default;
  border-radius: 20px;
  box-sizing: border-box;
}

.popup-close{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-close:hover{
  fill: var(--red-color);
}

.popup-close:active{
  transform: translateY(2px)
}

.main{
  min-height: 100vh;
}


/* manual */

.manual {
  background-color: var(--yellow-bg-color);
}

.manual__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.manual__title {
  margin: 0px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.manual__list {
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.manual__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.manual__item-img {
  width: 70px;
  height: 70px;
}

.manual__item-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.manual__item-arrow {
  display: block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.manual__item-arrow:hover {
  fill: var(--red-color);
}


/* file */

.file {
  background-image: url('../img/paralax-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.file__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.file__button {
  width: 200px;
  height: 60px;
  border: 0px;
  border-radius: 5px;
  background: var(--black-color);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.file__button:hover {
  background: var(--red-color);
}

.file__button:active {
  transform: translateY(2px);
}

.file__button:not(:last-child) {
  margin-right: 15px;
}

.file__archive-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* media */

@media (max-width: 1220px) {
  .manual__list {
    flex-direction: column;
    align-items: center;
  }

  .manual__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 780px) {
  .table {
    width: 472px;
    height: 313px;
  }
}

@media (max-width: 600px) {
  .table {
    width: 354px;
    height: 235px;
  }

  .manual__title {
    font-size: 35px;
  }
}

@media (max-width: 460px) {

  .file__container {
    flex-direction: column;
  }

  .file__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .popup {
    width: 350px;
    height: 500px;
  }
}

@media (max-width: 370px) {
  .popup {
    width: 250px;
    height: 400px;
  }
}